<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Retos Liliana Pena.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E51D26A01E91CA3B006F2EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E51D26B41E91CA3B006F2EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E51D26BF1E91CA3B006F2EAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
